* {
    margin: 0;
    padding: 0;
}
#logo {
    width: 60px;
}
#encabezado {
    background-color: #FCFCFC;
    display: flex;
}
#navegar ul {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-indent: 60px;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-top: 50px;
}
#navegar a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
    padding-bottom: 2%;
    padding-top: 2%;
}
#titulo-principal {
    margin-top: 50px;
    text-align: center;
}
hr {
    width: 220px;
    margin-left: 580px;
}
summary {
    list-style: none;
}
.secciones {
    display: flex;
    justify-content: center;
}
.aspecto-seccion {
    width: 230px;
    padding: 30px;
    margin: 20px;
}
h3 {
    text-align: center;
}
#info {
    text-align: center;
}
.map-sede {
    width: 600px;
    height: 400px;
}
#seccion-sedes{
    display: flex;
    padding-bottom: 40px;
}
.sede{
    border: solid;
    width: 600px;
}
.loren-map-sede{
    text-align: center;
}